nav{
	background-color: orange;
}
nav ul{
	list-style-type: none;
	padding:0;
	margin:0;
	overflow: hidden;
}
nav ul li{
	float:left;
}
nav ul li a{
	text-decoration: none;
	color:blue;
	padding: 14px 20px;
	display: block;	
}
.a{
	float: right;
}
.container{
	height: 500px;
	width: 100%;
}
.d{
	height: 500px;
	width: 50%;
}
.e{
	height: 500px;
	width: 50%;
	float:right;
}
nav ul li a:hover{
	background-color: red;
	color: white;
}
.dropdownlist a{
  color: white;
}
.dropdownlist {
  color: white;
  position: absolute;
  display: none;
  background-color: grey;
 
}

.dropdown:hover .dropdownlist{
  display: block;
}